<nav class='navbar navbar-expand-lg navbar-toggleable-md navbar-dark bg-dark'>
  <ng-content select='luse-nav-title'></ng-content>
  <button class='navbar-toggler my-2 ml-auto' (click)="isCollapsed = !isCollapsed" type='button' data-toggle='collapse'
          data-target="#navbarToggleMobileContent">
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id='navbarToggleMobileContent'>
    <ul class="navbar-nav mr-auto">
      <ng-content select='luse-nav-item'></ng-content>
    </ul>
  </div>
</nav>
