<!-- App Loading Screen -->
<app-loading *ngIf="loading" style="width: 100%"></app-loading>

<!-- Account Selection Screen -->
<div *ngIf="!accountSelected && !loading" class="flex grow-1 vcenter">
  <div class="hcenter">
    <div class="span m-2">
      <div class="flex">
        <p-dropdown [options]="selectableAccounts"
                    [(ngModel)]="selectedAccount"
                    [style]="{'width':'300px'}"
                    [placeholder]="'Select Account'">

        </p-dropdown>
      </div>
    </div>
    <div class="span m-2">
      <div class="flex">
        <button pButton type="button" class="ui-button-success hcenter"
                [disabled]="!selectedAccount"
                [label]="'Submit'"
                (click)="selectAccount()">

        </button>

        <button pButton type="button" class="ui-button-primary hcenter"
                [label]="'Create Account'"
                (click)="selectAccount()">

        </button>
      </div>
    </div>
  </div>
</div>

<!-- Account Screen -->
<div *ngIf="accountSelected" class="container-fluid p-2">
  <h1 style="color: white; text-align: center;">{{selectedAccount.name}}</h1>
  <div class="row m-0">
    <!-- Account Details -->
    <div class="col-md-6 col-sm-12 p-0" style="height: 700px;">
      <div class="p-2">
        <p-dataTable>

        </p-dataTable>
      </div>
    </div>
    <!-- Account Charts -->
    <div class="col-md-6 col-sm-12 p-0">
      <div class="p-2">
        <p-chart type="pie" [data]="data">

        </p-chart>
      </div>
    </div>
  </div>
</div>
