<!-- App Loading Screen -->
<app-loading *ngIf="loading" [size]="5" [position]="5" [visible]="loading" [style.color]="'white'"></app-loading>

<!-- Account Selection Screen -->
<div *ngIf="!accountSelected && !loading" class="flex grow vcenter">
  <div class="hcenter">
    <div class="span m-2">
      <div class="flex">
        <p-dropdown [options]="selectableAccounts"
                    [(ngModel)]="selectedAccount"
                    [style]="{'width':'300px'}"
                    [placeholder]="'Select Account'">

        </p-dropdown>
      </div>
    </div>
    <div class="span m-2">
      <div class="flex">
        <ls-button [type]="'button'" class="ls-button-primary hcenter"
                [label]="'Submit'"
                (click)="selectAccount()">

        </ls-button>

        <ls-button [type]="'button'" class="ls-button-success hcenter"
                [label]="'Success'"
                (click)="success()">

        </ls-button>
        <ls-button [type]="'button'" class="ls-button-warning hcenter"
                [label]="'Warning'"
                (click)="warning()">

        </ls-button>
        <ls-button [type]="'button'" class="ls-button-info hcenter"
                [label]="'Info'"
                (click)="info()">

        </ls-button>
        <ls-button [type]="'button'" class="ls-button-danger hcenter"
                [label]="'Error'"
                (click)="error()">

        </ls-button>

        <ls-button [type]="'button'" class="ls-button-alternative hcenter"
                [label]="'Clear'"
                (click)="clear()">

        </ls-button>

      </div>
    </div>
  </div>
</div>

<!-- Account Screen -->
<div *ngIf="accountSelected" class="container-fluid p-2">
  <h1 style="color: white; text-align: center;">{{selectedAccount.name}}</h1>
  <div class="row m-0">
    <!-- Account Details -->
    <div class="col-md-6 col-sm-12 p-0" style="height: 700px;">
      <div class="p-2">
        <p-dataTable>

        </p-dataTable>
      </div>
    </div>
    <!-- Account Charts -->
    <div class="col-md-6 col-sm-12 p-0">
      <div class="p-2">
        <p-chart type="pie" [data]="data">

        </p-chart>
      </div>
    </div>
  </div>
</div>
