<div class="flex grow vcenter">
  <div class="hcenter form-container">
    <form (ngSubmit)="createAccount(newAccountForm.value)" [formGroup]="newAccountForm">

      <!-- Account Name -->
      <div class="form-group border-box">
        <label for="accountname" class="white">Account Name</label>
        <input id="accountname" class="form-control" aria-describedby="accountnamehelp" formControlName="name"
               #nameInput>
      </div>

      <!-- Balance -->
      <div class="form-group border-box">
        <label for="balance" class="white">Balance</label>
        <input id="balance" class="form-control" type="number" formControlName="balance" #balanceInput>
      </div>

      <!-- Description -->
      <div class="form-group border-box">
        <label for="description" class="white">Description</label>
        <textarea id="description" class="form-control" formControlName="description" #descriptionInput></textarea>
      </div>

      <!-- Submit Button-->
      <div class="form-group text-center">
        <button pButton class="ui-button-primary" icon="fa fa-spin fa-spinner"
                [label]="'Creating Account'" disabled *ngIf="creatingAccount"></button>
        <button pButton type="submit" class="ui-button-primary"
                [label]="'Create Account'" [disabled]="newAccountForm && !newAccountForm.valid"
                *ngIf="!creatingAccount"></button>
      </div>
    </form>
  </div>
</div>
